<ngx-flicking [plugins]="plugins" class="p-2 w-screen">
  <div flicking-panel class="relative flicking-panel w-full h-96" *ngFor="let product of products">
      <img src="{{product.productImage}}" class="object-cover" />
      <h1
        class="absolute md:text-6xl text-3xl font-extrabold top-1/2 left-1/2 transform -translate-x-3/4 -translate-y-3/4 z-10 bg-black text-white p-3 mix-blend-multiply -skew-x-12 ">
        {{ product.productName }}</h1>

      <div class="absolute font-semibold top-2/3 left-3/4 transform -translate-x-1/4 -translate-y-1/4 text-right">
        <p class="bg-black text-white p-2 mb-2">Now for just <span class="text-reddish">{{product.price | currency}}</span></p>
        <button (click)="goToProductPage(product._id)" class="mx-2">Grab!</button>
      </div>
  </div>
</ngx-flicking>