<div class="firstSection">
    <div class="wrapper">
        <header>
            <img src="assets/Images/bgHero.png" class="background">
            <div class="foreground mix-blend-screen">
                <img src="assets/Images/logo2.JPEG" class="">
            </div>
            <a routerLink="/home" class="btn rounded-full p-2">Shop Now</a>
            <div class="md:flex review">
                <div class="card overflow-x-hidden w-96 h-96 rounded-3xl text-whiteish p-3">
                    <h2 class="font-semibold text-reddish text-2xl">Welcome to Azar: Forge Your Legacy</h2>
                    <p>Discover a world of athletic excellence and style with Azar. Our carefully curated collection of
                        cutting-edge activewear is designed to elevate your performance and empower you to push beyond
                        your limits. Embrace the spirit of determination and join a community of like-minded individuals
                        who are committed to leaving a lasting impact on the world. Step into Azar and forge your own
                        legacy today.</p>
                </div>
                <div class="card hidden md:block overflow-hidden w-96 h-96 rounded-3xl text-whiteish p-3">
                    <h2 class="font-semibold text-reddish">Reviews</h2>
                    <div *ngFor="let review of reviews">
                        <p class="">◎ {{review.review}}</p>
                    </div>
                </div>
            </div>

        </header>
        <div class="hero-section">
            <div class="hero-content">
                <h1 class="hero-title">Welcome to Azar</h1>
                <p class="hero-text">Embrace your athletic potential with our revolutionary activewear designed for
                    speed,
                    agility, and excellence.</p>

                <div class="why-choose">
                    <div class="why-choose-item">
                        <img src="assets/Images/lightweight.png" alt="Lightweight">
                        <h3>Unrivaled Lightweight Performance</h3>
                        <p>Move freely and effortlessly with our lightweight designs that keep you agile and fast on the
                            field.</p>
                    </div>
                    <div class="why-choose-item">
                        <img src="assets/Images/premium-quality.png" alt="Premium Quality">
                        <h3>Premium Quality & Durability</h3>
                        <p>Experience unmatched durability and premium quality in every Azar garment, built to withstand
                            intense workouts and competitions.</p>
                    </div>
                    <div class="why-choose-item">
                        <img src="assets/Images/moisture-wicking.png" alt="Moisture-Wicking">
                        <h3>Moisture-Wicking Mastery</h3>
                        <p>Stay cool and dry with our advanced moisture-wicking fabrics that keep sweat at bay, so you
                            can
                            focus on your game.</p>
                    </div>
                    <div class="why-choose-item">
                        <img src="assets/Images/stretch.png" alt="Stretch & Flexibility">
                        <h3>Unmatched Stretch & Flexibility</h3>
                        <p>Experience maximum flexibility and freedom of movement with Azar's stretchy apparel,
                            engineered
                            for your best performance.</p>
                    </div>
                </div>

                <div class="about-us">
                    <p>At Azar, we've experienced the frustration of heavy clothing slowing us down on the field. That's
                        why we created a brand that produces lightweight, premium activewear, allowing athletes like you
                        to
                        keep a constant speed and reach new heights of performance.</p>
                    <p>Our mission is to inspire you to embrace your athletic potential, chase greatness with unwavering
                        dedication, and leave an indelible mark on the world of sports. Together, let's forge a legacy
                        of
                        speed, agility, and triumph.</p>
                </div>
            </div>
        </div>
    </div>
</div>