<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Chat Window</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    @for(message of chatMessages; track $index){
        <p>{{ message.sender }}: {{ message.message }}</p>
    }
    <div>
      <h2>Send a Message</h2>
      <div>
        <label for="recipientId">Recipient ID:</label>
        <input type="text" id="recipientId" [(ngModel)]="recipientId" placeholder="Enter recipient ID">
      </div>
      <div>
        <label for="message">Message:</label>
        <textarea id="message" [(ngModel)]="message" placeholder="Type your message"></textarea>
      </div>
      <div>
        <button (click)="sendMessage()">Send Message</button>
      </div>
    </div>
</ion-content>
