page-chats {
    .scroll-content {
      padding: 0;
    }
  
    ion-list {
      margin: 0;
    }
  
    ion-item {
      background-color: #ffffff;
      border-radius: 8px;
      margin-bottom: 8px;
    }
  }