.avatar {
    width: 160px;
    height: 160px;
    position: relative;
    margin: 0 auto;

    ion-img {
        display: block;
        border-radius: 50%;
        background-color: #000000;
    }
}