<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if(profileData){
  <ion-card>
    <div>
    <ion-img class="rounded-full" [src]="'http://localhost:3000/' + profileData.profileImage" alt="Profile Image"></ion-img>
    </div>
    <ion-card-header>
      <ion-card-subtitle>{{ profileData.fName }} {{ profileData.lName }}</ion-card-subtitle>
      <ion-card-title>{{ profileData.email }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-label>
        <h3>Phone</h3>
        <p>{{ profileData.phone }}</p>
      </ion-label>
      <ion-label>
        <h3>Address</h3>
        <p>{{ profileData.address.city }}, {{ profileData.address.country }} {{ profileData.address.zipcode }}</p>
      </ion-label>
    </ion-card-content>
  </ion-card>
  <ion-button (click)="onEditProfile()" expand="full" fill="outline">Edit Profile</ion-button>
  <ion-button (click)="onSignOut()" expand="full" color="danger">Sign Out</ion-button>
  }
</ion-content>