<div *ngIf="cart" class="glass rounded-l-3xl p-5 text-reddish shadow-md shadow-reddish">
    <div class="text-right">
        <button class="p-2 shadow-sm shadow-reddish rounded-full active:shadow-inner active:shadow-reddish bg-black text-whiteish" (click)="emptyTheCart()">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>                       
        </button>
    </div>
    <table>
        <thead>
            <tr class="shadow-sm">
                <th class="py-2 px-2">Product Name</th>
                <th class="py-2 px-2">Quantity</th>
                <th class="py-2 px-2">Unit Price</th>
                <th class="py-2 px-2">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of cart.products" class="my-2 shadow-md">
                <td class="py-4">
                    <a href="/products/{{c.productId._id}}" class="flex flex-col items-center">
                        <img src="{{c.productId.productImage}}" class="w-16 h-16 object-contain rounded-lg">
                        <p class="text-sm">{{c.productId.productName}}</p>
                    </a>
                </td>
                <td class="p-4 items-center">
                    <input type="number" [(ngModel)]="c.quantity" class="shadow-inner shadow-reddish rounded-full w-16 px-2 py-1">
                    <button class="text-whiteish shadow-reddish shadow-sm bg-blue-300 rounded-full p-1 ml-2  active:shadow-inner active:shadow-reddish" (click)="updateQuantity(c.productId._id)">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />
                          </svg>
                          
                    </button>
                </td>
                <td class="py-4">${{(c.quantity * (c.price- (c.discount/100)*c.price)).toFixed(2)}}</td>
                <td class="py-4">
                    <button class="text-whiteish shadow-reddish shadow-sm bg-red-500 rounded-full p-1  active:shadow-inner active:shadow-reddish" (click)="pullProduct(c.productId._id)">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                          </svg>                          
                    </button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2" class="font-bold">Total:</td>
                <td class="font-bold">{{cart.total}}</td>
                <td></td>
            </tr>
        </tfoot>
    </table>
    <div class="text-right text-lg">
        <button class="text-whiteish shadow-sm shadow-reddish p-1 rounded-full bg-emerald-500 active:shadow-inner active:shadow-reddish" (click)="checkingOut()">Place Order</button>
    </div>
</div>