<div class="bg-transparent justify-center items-center mb-10 mx-5">
    <div class="text-right my-5">
        <a routerLink="/edit" class="shadow-reddish shadow-sm p-2 bg-cyan-100 rounded-full">Edit Profile</a>
    </div>
    
    <div class="flex">
        <div class="rounded-3xl p-6 w-96 h-96">
            <div class="text-lg font-semibold mb-2">Profile Image:</div>
            <img src="{{ currentUser.profileImage }}" class="w-40 h-40 object-cover rounded-full">
        </div>
        <div class="flex flex-wrap gap-5">
            <div class="rounded-3xl shadow-sm shadow-reddish p-6 w-fit h-fit">
                <div class="text-lg font-semibold mb-2">First Name:</div>
                <div class="">{{ currentUser.fName }}</div>
            </div>
            <div class="rounded-3xl shadow-sm shadow-reddish p-6 w-fit h-fit">
                <div class="text-lg font-semibold mb-2">Last Name:</div>
                <div>{{ currentUser.lName }}</div>
            </div>
            <div class="rounded-3xl shadow-sm shadow-reddish p-6 w-fit h-fit">
                <div class="text-lg font-semibold mb-2">Date of Birth:</div>
                <div>{{ currentUser.dob | date }}</div>
            </div>
            <div class="rounded-3xl shadow-sm shadow-reddish p-6 w-fit h-fit">
                <div class="text-lg font-semibold mb-2">Email:</div>
                <div class="">{{ currentUser.email }}</div>
            </div>
            <div class="rounded-3xl shadow-sm shadow-reddish bg-off-white p-6 w-fit h-fit">
                <div class="text-lg font-semibold mb-2">Phone:</div>
                <div>{{ currentUser.phone }}</div>
            </div>
            <div class="rounded-3xl shadow-sm shadow-reddish p-6 w-fit h-fit">
                <div class="text-lg font-semibold mb-2">Address:</div>
                <div>
                    <div>{{ currentUser.address.streetAddress }}</div>
                    <div>{{ currentUser.address.city }}, {{ currentUser.address.state }}, {{ currentUser.address.zipcode }}
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>