<div class="flex flex-wrap m-5 text-whiteish" *ngIf="orders">
    <div *ngFor="let ord of orders; let first = first" class="shadow-sm shadow-reddish py-5 px-3 m-5 h-48 w-80 rounded-3xl"
        [ngClass]="{ 'w-full shadow-md': first, 'w-80': !first }">
        <p class="font-bold shadow-sm shadow-reddish rounded-full text-center">Order Date: {{ ord.orderDate | date }}</p>
        <div class="mt-4">
            <h3 class="font-bold">Order Id: </h3>
            <span>{{ord._id}}</span>

        </div>
        <div class="flex justify-between mt-5">
            <h3 class="font-bold text-right">Total: {{ ord.orderDetails.total | currency }}</h3>
            <button class="font-bold py-1 px-2 rounded-full shadow-sm shadow-reddish"
            (click)="goToThisOrder(ord._id)">Go to order</button>
        </div>
    </div>
</div>
