<div class="sidebar p-2">
    <button [class.selected]="isSelectedCategory(['/'])" class="md:w-60 p-2 text-2xl font-bold text-left" (click)="onCategory(['/'])">All</button>
    <button [class.selected]="isSelectedCategory(['Men'])" class="md:w-60 p-2 text-2xl font-bold text-left" (click)="onCategory(['Men'])">Men</button>
    <div>
      <button [class.selected]="isSelectedCategory(['Men','T-Shirts'])" class="md:w-60 md:text-xl text-left" (click)="onCategory(['Men' ,'T-Shirts'])">T-Shirts</button>
      <button [class.selected]="isSelectedCategory(['Men','Hoodies'])" class="md:w-60 md:text-xl text-left" (click)="onCategory(['Men','Hoodies'])">Hoodies</button>
      <button [class.selected]="isSelectedCategory(['Men','Jackets'])" class="md:w-60 md:text-xl text-left" (click)="onCategory(['Men','Jackets'])">Jackets</button>
      <button [class.selected]="isSelectedCategory(['Men','Tank Tops'])" class="md:w-60 md:text-xl text-left" (click)="onCategory(['Men','Tank Tops'])">Vests & Tank Tops</button>
      <button [class.selected]="isSelectedCategory(['Men','Tracksuits'])" class="md:w-60 md:text-xl text-left" (click)="onCategory(['Men','Tracksuits'])">Tracksuits</button>
      <button [class.selected]="isSelectedCategory(['Men','Compressions'])" class="md:w-60 md:text-xl text-left" (click)="onCategory(['Men','Compressions'])">Compressions</button>
      <button [class.selected]="isSelectedCategory(['Men','Joggers','Pants'])" class="md:w-60 md:text-xl text-left" (click)="onCategory(['Men','Joggers','Pants'])">Joggers & Pants</button>
      <button [class.selected]="isSelectedCategory(['Men','Shorts'])" class="md:w-60 md:text-xl text-left" (click)="onCategory(['Men','Shorts'])">Shorts</button>
      <button [class.selected]="isSelectedCategory(['Men','Socks'])" class="md:w-60 md:text-xl text-left" (click)="onCategory(['Men','Socks'])">Socks</button>
      <button [class.selected]="isSelectedCategory(['Men','Accessories'])" class="md:w-60 md:text-xl text-left" (click)="onCategory(['Men','Accessories'])">Accessories</button>
    </div>
    <button [class.selected]="isSelectedCategory(['Boys'])" class="md:w-60 p-2 text-2xl font-bold text-left" (click)="onCategory(['Boys'])">Boys</button>
    <div>
      <button [class.selected]="isSelectedCategory(['Boys','T-Shirts'])" class="md:w-60 md:text-xl text-left" (click)="onCategory(['Boys' ,'T-Shirts'])">T-Shirts</button>
      <button [class.selected]="isSelectedCategory(['Boys','Hoodies'])" class="md:w-60 md:text-xl text-left" (click)="onCategory(['Boys','Hoodies'])">Hoodies</button>
      <button [class.selected]="isSelectedCategory(['Boys','Jackets'])" class="md:w-60 md:text-xl text-left" (click)="onCategory(['Boys','Jackets'])">Jackets</button>
      <button [class.selected]="isSelectedCategory(['Boys','Tank Tops'])" class="md:w-60 md:text-xl text-left" (click)="onCategory(['Boys','Tank Tops'])">Vests & Tank Tops</button>
      <button [class.selected]="isSelectedCategory(['Boys','Tracksuits'])" class="md:w-60 md:text-xl text-left" (click)="onCategory(['Boys','Tracksuits'])">Tracksuits</button>
      <button [class.selected]="isSelectedCategory(['Boys','Compressions'])" class="md:w-60 md:text-xl text-left" (click)="onCategory(['Boys','Compressions'])">Compressions</button>
      <button [class.selected]="isSelectedCategory(['Boys','Joggers','Pants'])" class="md:w-60 md:text-xl text-left" (click)="onCategory(['Boys','Joggers','Pants'])">Joggers & Pants</button>
      <button [class.selected]="isSelectedCategory(['Boys','Shorts'])" class="md:w-60 md:text-xl text-left" (click)="onCategory(['Boys','Shorts'])">Shorts</button>
      <button [class.selected]="isSelectedCategory(['Boys','Socks'])" class="md:w-60 md:text-xl text-left" (click)="onCategory(['Boys','Socks'])">Socks</button>
      <button [class.selected]="isSelectedCategory(['Boys','Accessories'])" class="md:w-60 md:text-xl text-left" (click)="onCategory(['Boys','Accessories'])">Accessories</button>
    </div>
    <button [class.selected]="isSelectedCategory(['Girls'])" class="md:w-60 p-2 text-2xl font-bold text-left" (click)="onCategory(['Girls'])">Girls</button>
    <div>
      <button [class.selected]="isSelectedCategory(['Girls','T-Shirts'])" class="md:w-60 md:text-xl text-left" (click)="onCategory(['Girls' ,'T-Shirts'])">T-Shirts</button>
      <button [class.selected]="isSelectedCategory(['Girls','Hoodies'])" class="md:w-60 md:text-xl text-left" (click)="onCategory(['Girls','Hoodies'])">Hoodies</button>
      <button [class.selected]="isSelectedCategory(['Girls','Jackets'])" class="md:w-60 md:text-xl text-left" (click)="onCategory(['Girls','Jackets'])">Jackets</button>
      <button [class.selected]="isSelectedCategory(['Girls','Tank Tops'])" class="md:w-60 md:text-xl text-left" (click)="onCategory(['Girls','Tank Tops'])">Vests & Tank Tops</button>
      <button [class.selected]="isSelectedCategory(['Girls','Tracksuits'])" class="md:w-60 md:text-xl text-left" (click)="onCategory(['Girls','Tracksuits'])">Tracksuits</button>
      <button [class.selected]="isSelectedCategory(['Girls','Compressions'])" class="md:w-60 md:text-xl text-left" (click)="onCategory(['Girls','Compressions'])">Compressions</button>
      <button [class.selected]="isSelectedCategory(['Girls','Joggers','Pants'])" class="md:w-60 md:text-xl text-left" (click)="onCategory(['Girls','Joggers','Pants'])">Joggers & Pants</button>
      <button [class.selected]="isSelectedCategory(['Girls','Shorts'])" class="md:w-60 md:text-xl text-left" (click)="onCategory(['Girls','Shorts'])">Shorts</button>
      <button [class.selected]="isSelectedCategory(['Girls','Socks'])" class="md:w-60 md:text-xl text-left" (click)="onCategory(['Girls','Socks'])">Socks</button>
      <button [class.selected]="isSelectedCategory(['Girls','Accessories'])" class="md:w-60 md:text-xl text-left" (click)="onCategory(['Girls','Accessories'])">Accessories</button>
    </div>
</div>
