<div class="text-whiteish" clickOutside (clickOutside)="clickedOutside()">
    <div class="flex">
        <input type="text" class="md:w-44 w-20 shadow-reddish shadow-inner p-2 rounded-l-full bg-transparent focus:w-72 ease-in transition-all"
            placeholder="Search for a product" [formControl]="searchTerm" aria-label="Search" />
        <button
            class="active:shadow-inner active:shadow-reddish shadow-sm shadow-reddish bg-transparent rounded-r-full"
            (click)="searchProducts()" aria-label="Search Button">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6 mx-2 stroke-reddish">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
            </svg>
        </button>
    </div>

    <div class="absolute rounded-3xl dropDownSearch z-10 origin-top text-whiteish shadow-sm shadow-reddish" *ngIf="isSearchResultsOpened">
        <div class="flex justify-around p-5 w-72" *ngFor="let product of searchResults">
            <img src="{{product.productImage}}" class="w-10 h-10 object-contain">
            <div class="w-7/12">
                <a href="/products/{{product._id}}">{{ product.productName }}</a>
                <p class="text-sm">{{product.description}}</p>
            </div>
            <p class="w-10">{{ product.price | currency }}</p>
        </div>
        <div class="text-center shadow-sm shadow-reddish rounded-3xl p-5 w-72" *ngIf="searchResults?.length === 0">
            No results found
        </div>
    </div>
</div>