.dropDownProfile {
    -webkit-animation-name: profile-animation;
    animation-name: profile-animation;
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    background: rgba(50, 50, 50, 0.5);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);

}

.triangle-up {
    width: 0;
    height: 0;
    border-radius: 50%;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #990011FF;
    transform: translate(10px, -31px);
}

@-webkit-keyframes profile-animation {
    from {
        transform: scaleY(0);
    }

    80% {
        transform: scaleY(1.1);
    }

    to {
        transform: scaleY(1);
    }
}

@keyframes profile-animation {
    from {
        transform: scaleY(0);
    }

    80% {
        transform: scaleY(1.1);
    }

    to {
        transform: scaleY(1);
    }
}