
<ion-content [fullscreen]="true">
  <ion-tabs>
    <ion-tab-bar slot="Home">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        Home
      </ion-tab-button>
      <ion-tab-button tab="Chat">
        <ion-icon name="chatbubble-ellipses"></ion-icon>
        Chat
      </ion-tab-button>
      <ion-tab-button tab="Add">
        <ion-icon name="add-circle"></ion-icon>
        Add
      </ion-tab-button>
      <ion-tab-button tab="profile">
        <ion-icon name="person-circle"></ion-icon>
        Profile
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>

