<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      BuySellNearby
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (isLoading) {
    <ion-list>
      @for (i of dummyArray; track i) {
        <ion-item lines="none" class="ion-padding-bottom">
          <ion-avatar slot="start">
            <ion-skeleton-text></ion-skeleton-text>
          </ion-avatar>
          <ion-skeleton-text animated style="height: 40px"/>
        </ion-item>
      }
    </ion-list>
  } @else if (error) {
    <ion-alert header="Error" [message]={error} isOpen="true" buttons="Ok"/>
  }
  <ion-list>
    @for (item of products; track item._id) {
      <ion-item>
        <ion-avatar slot="start">
          <img [src]="imageBaseURL + '{{item.productImages}}'"/>
        </ion-avatar>
        <ion-label class="ion-text-wrap">
          <h3>{{item.productName}}</h3>
          <p>{{item.description}}</p>
          <p>{{item.price}}</p>
        </ion-label>
      </ion-item>
    }
  </ion-list>
</ion-content>
