<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      BSN
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (isLoading) {
  <ion-list>
    @for (i of dummyArray; track i) {
    <ion-item lines="none" class="ion-padding-bottom">
      <ion-avatar slot="start">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-avatar>
      <ion-skeleton-text animated style="height: 40px" />
    </ion-item>
    }
  </ion-list>
  } @else if (error) {
  <ion-alert header="Error" [message]={error} isOpen="true" buttons="Ok" />
  }
  @if (products){
  <ion-grid>
    <ion-row class="ion-justify-content-between">
      @for (product of products; track product._id) {
      <ion-col button [routerLink]="['/details', product._id]">
        <ion-card>
          <img [src]="imageBaseURL + product.productImages[0].path" />
        </ion-card>
      </ion-col>
      } @empty {
      @if(!isLoading){
      <ion-item lines="none">
        <ion-label class="ion-text-center">No Products Found!</ion-label>
      </ion-item>
      }
      }
    </ion-row>
  </ion-grid>
  }
  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>