.content-box{
    margin: 10%;
    
}
label{
    margin-right: 90%;
}
input{
    margin-right: 90%;
}
.btnEdit{
    background-color: blue;
    color: white;
    font-size: small;
    align-items: center;
}