<div class="bg-transparent">

    <div class="" *ngIf="user">
        <h2 class="m-5 p-3 w-full text-3xl">Edit Profile</h2>
        <form (ngSubmit)="editUser()" [formGroup]="userForm" class="flex flex-wrap">
            <div class="shadow-reddish shadow-sm rounded-3xl m-8 w-64">
                <div class="p-2">
                    <label class="text-blackish">First Name</label>
                </div>
                <div class="mr-2">
                    <input class="w-full m-1 p-1 rounded-3xl bg-whiteish shadow-reddish shadow-inner" type="text" formControlName="fName"
                        placeholder="{{user.fName}}">
                </div>
            </div>

            <div class="shadow-reddish shadow-sm rounded-3xl m-8 w-64">
                <div class="p-2">
                    <label class="text-blackish">Last Name</label>
                </div>
                <div class="mr-2">
                    <input class="w-full m-1 p-1 rounded-3xl bg-whiteish shadow-reddish shadow-inner" type="text" formControlName="lName"
                        placeholder="{{user.lName}}">
                </div>
            </div>

            <div class="shadow-reddish shadow-sm rounded-3xl m-8 w-64">
                <div class="p-2">
                    <label class="text-blackish">Password</label>
                </div>
                <div class="mr-2">
                    <input class="w-full m-1 p-1 rounded-3xl bg-whiteish shadow-reddish shadow-inner" type="password" formControlName="password"
                        placeholder="{{user.password}}">
                </div>
            </div>
            <div class="shadow-reddish shadow-sm rounded-3xl m-8 w-64">
                <div class="p-2">
                    <label class="text-blackish">Date of Birth</label>
                </div>
                <div class="mr-2">
                    <input class="w-full m-1 p-1 rounded-3xl bg-whiteish shadow-reddish shadow-inner" type="date" formControlName="dob"
                        placeholder="{{user.dob}}">
                </div>
            </div>
            <div class="shadow-reddish shadow-sm rounded-3xl m-8 w-64">
                <div class="p-2">
                    <label class="text-blackish">Phone</label>
                </div>
                <div class="mr-2">
                    <input class="w-full m-1 p-1 rounded-3xl bg-whiteish shadow-reddish shadow-inner" type="text" formControlName="phone"
                        placeholder="{{user.phone}}">
                </div>
            </div>
            <div class="shadow-reddish shadow-sm rounded-3xl m-8 w-64">
                <div class="p-2">
                    <label class="text-blackish">Profile Image</label>
                </div>
                <div class="mr-2">
                    <input class="w-full m-1 p-1 rounded-3xl bg-whiteish shadow-reddish shadow-inner" type="text" formControlName="profileImage"
                        placeholder="{{user.profileImage}}">
                </div>
            </div>
            <div class="flex flex-wrap" formGroupName="address">
                <label class="text-2xl p-1 m-3 text-gray-500 rounded-l-full">Address: </label>
                <div class="shadow-reddish shadow-sm rounded-3xl m-8 w-64">
                    <div class="p-2">
                        <label class="text-blackish">Street
                            Address</label>
                    </div>
                    <div class="mr-2">
                        <input class="w-full m-1 p-1 rounded-3xl bg-whiteish shadow-reddish shadow-inner" type="text" formControlName="streetAddress"
                            placeholder="{{user.address.streetAddress}}">
                    </div>
                </div>
                <div class="shadow-reddish shadow-sm rounded-3xl m-8 w-64">
                    <div class="p-2">
                        <label class="text-blackish">City</label>
                    </div>
                    <div class="mr-2">
                        <input class="w-full m-1 p-1 rounded-3xl bg-whiteish shadow-reddish shadow-inner" type="text" formControlName="city"
                            placeholder="{{user.address.city}}">
                    </div>
                </div>
                <div class="shadow-reddish shadow-sm rounded-3xl m-8 w-64">
                    <div class="p-2">
                        <label class="text-blackish">State</label>
                    </div>
                    <div class="mr-2">
                        <input class="w-full m-1 p-1 rounded-3xl bg-whiteish shadow-reddish shadow-inner" type="text" formControlName="state"
                            placeholder="{{user.address.state}}">
                    </div>
                </div>
                <div class="shadow-reddish shadow-sm rounded-3xl m-8 w-64">
                    <div class="p-2">
                        <label class="text-blackish">Zipcode</label>
                    </div>
                    <div class="mr-2">
                        <input class="w-full m-1 p-1 rounded-3xl bg-whiteish shadow-reddish shadow-inner" type="text" formControlName="zipcode"
                            placeholder="{{user.address.zipcode}}">
                    </div>
                </div>
            </div>
            <div class="w-full text-end">
                <button class="shadow-reddish shadow-sm w-96 p-2 bg-cyan-100 rounded-full m-10"
                    type="submit">Edit Profile</button>
            </div>
        </form>
    </div>
</div>