<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Sign In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-item>
        <ion-input label="Email" type="text" placeholder="email@domain.com" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Password" type="password" value="password" formControlName="password"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button size="small" type="submit">Sign In</ion-button>
  </form>

</ion-content>