.dropDownSignIn {
            -webkit-animation-name: signin;
                    animation-name: signin;
            -webkit-animation-duration: 200ms;
                    animation-duration: 200ms;
            -webkit-animation-timing-function: ease;
                    animation-timing-function: ease;
                    background: rgba(50, 50, 50, 0.5);
                    backdrop-filter: blur(15px);
                    -webkit-backdrop-filter: blur(15px);
}

.dropDownRegister {
    -webkit-animation-name: register;
            animation-name: register;
    -webkit-animation-duration: 200ms;
            animation-duration: 200ms;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
            background: rgba(50, 50, 50, 0.5);
            backdrop-filter: blur(15px);
            -webkit-backdrop-filter: blur(15px);
}

.triangle-up {
    width: auto;
    height: auto;
    border-radius: 50%;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid rgb(255, 255, 255);
    transform: translate(110px, -23px);
  }

  .triangle-register-up {
    position: absolute;
    width: auto;
    height: auto;
    border-radius: 50%;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid rgb(255, 255, 255);
    transform: translate(170px, -23px);
  }


@-webkit-keyframes signin {
    from {
        transform: scaleY(0);
    }
    80%{
        transform: scaleY(1.1);
    }
    to {
        transform: scaleY(1);
    }
}


@keyframes signin {
    from {
        transform: scaleY(0);
    }
    80%{
        transform: scaleY(1.1);
    }
    to {
        transform: scaleY(1);
    }
}


@-webkit-keyframes register {
    from {
        transform: scaleY(0);
    }
    80%{
        transform: scaleY(1.1);
    }
    to {
        transform: scaleY(1);
    }
}


@keyframes register {
    from {
        transform: scaleY(0);
    }
    80%{
        transform: scaleY(1.1);
    }
    to {
        transform: scaleY(1);
    }
}