<div class="px-5 text-reddish">
  <div class="flex gap-2" clickOutside (clickOutside)="clickedOutside()">
    <div class="cursor-pointer text-white" (click)="toggleLoginMenu()">
      Sign-In
    </div>

    <div class="absolute origin-top rounded-3xl mt-10 -ml-24 dropDownSignIn z-20 shadow-blackish shadow-sm"
      *ngIf="isLoginMenuOpened">
      <div class="static">
        <div class="absolute triangle-up"></div>
        <app-login></app-login>
      </div>
    </div>

    <div class="cursor-pointer text-white" (click)="toggleRegisterMenu()">
        Sign-Up
    </div>

    <div class="absolute origin-top rounded-3xl mt-10 -ml-24 dropDownRegister z-20 shadow-blackish shadow-sm"
      *ngIf="isRegisterMenuOpened">
      <div class="static">
        <div class="absolute triangle-register-up"></div>
        <app-create-user></app-create-user>
      </div>
    </div>
  </div>
</div>