<footer class="bg-whiteish py-5 text-reddish">
  <div class="text-center">
    <p class="mb-2">&copy; 2023 My Website. All rights reserved.</p>
    <p>Designed with <span class="text-red-500">&hearts;</span> by Azar Ansar</p>
    <div class="mt-4">
      <ul class="list-none flex justify-center flex-wrap">
        <li class="mr-6">
          <a href="/home">Home</a>
        </li>
        <li class="mr-6">
          <a href="/signin">Sign In</a>
        </li>
        <li class="mr-6">
          <a href="/signup">Sign Up</a>
        </li>
        <li class="mr-6">
          <a href="/profile">Profile</a>
        </li>
        <li class="mr-6">
          <a href="/edit">Edit User</a>
        </li>
        <li class="mr-6">
          <a href="/products">All Products</a>
        </li>
        <li class="mr-6">
          <a href="/products/:pId">Product Details</a>
        </li>
        <li class="mr-6">
          <a href="/orders">All Orders</a>
        </li>
        <li class="mr-6">
          <a href="/orders/:oId">Order Details</a>
        </li>
        <li class="mr-6">
          <a href="/all-carts">All Carts</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
