<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="chat">
      <ion-icon name="chatbubble-ellipses"></ion-icon>
      Chat
    </ion-tab-button>
    <ion-tab-button tab="add-product">
      <ion-icon name="add-circle"></ion-icon>
      Add
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="person-circle"></ion-icon>
      Profile
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>


